@page "/cryptocoins"
@attribute [StreamRendering]
@using BlazorApp1.Controller
@using BlazorApp1.Models;
@using Microsoft.AspNetCore.Components.Routing;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>cryptocoins</PageTitle>

<h1>CryptoCoins</h1>

<p>
    Top CryptoCoins in the market, @if (coins == null || coins.Count == 0)
    {
    <p><em>Loading...</em></p>
    }
    else
        @coins.FirstOrDefault().CryptoName
 is currently the most valued cryptocoin with a whopping value of @if (coins == null || coins.Count == 0)
    {
    <p><em>Loading...</em></p>
    }
    else
        @coins.FirstOrDefault().Price
    </p>

@if (coins == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Symbol</th>
                <th>Name</th>                
                <th>Price (USD)</th>
                <th>Price (SEK) </th>                
                <th>Last Day Status</th>
                <th>Market Cap (USD)</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var coin in coins.OrderByDescending(coin => coin.MarketCap))
            {
                number++;
                <tr>
                    <td>@coin.ID</td>
                    <td>@coin.Summary</td>
                    <td>
                        <a href="/cryptodetails/@coin.ID">
                            @coin.CryptoName
                        </a>
                    </td>
                    <td>@coin.Price</td>
                    <td>@coin.PriceSEK</td>                   
                    <td>@if (@coin.PercentChange > 0)
                        {
                            <span style="color: green;">@coin.PercentChange %</span>
                            <span style="color: green;">▲</span>
                        }
                        else if (coin.PercentChange < 0)
                        {
                            <span style="color: red;">@coin.PercentChange %</span>
                            <span style="color: red;">▼</span>
                        }
                        else
                        {
                            <span>@coin.PercentChange %</span>
                        }
                    <td>$(@coin.MarketCap)B </td>
                    </td>
                </tr>
            }
        </tbody>
    </table> 
}

@code {
    int number = 0;
    List<CryptoCoin> coins = new List<CryptoCoin>();

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering

        string baseUrl = "https://localhost:7229/";

        coins = await Http.GetFromJsonAsync<List<CryptoCoin>>($"{baseUrl}api/crypto");
    }
    void NavigateToCryptoDetails(int CryptoId)
    {
        Console.WriteLine($"Navigating to details page for CryptoId: {CryptoId}");
        NavigationManager.NavigateTo($"/cryptodetails/{CryptoId}");
    }
}

